mixin category(blc)
  // BEGIN CATEGORY 
  +b.category(class = (blc) ? '_block': '')
    .container
      if blc
        .row
          .col
            +b.H2.title
              .fa.fa-navicon
              span Категории
      .row
        .col
          ul
            li
              +e.A.header(href="#") Фильмы
            li
              a(href="#") Новинки
            li
              a(href="#") Популярные
            li
              a(href="#") Комедии
            li
              a(href="#") Фантастика
            li
              a(href="#") Триллеры
            li
              a(href="#") Семейное кино
            li
              a(href="#") Ужасы
            li
              a(href="#") Боевики
            li
              a(href="#") Приключения
            li
              a(href="#") Драмы
            li
              a(href="#") Мелодрамы
            li
              a(href="#") Документальное
            li
              a(href="#") Арт-Хаус
            li
              a(href="#") Спорт
            li
              a(href="#") Бокбастеры
            li
              a(href="#") Детективы
            li
              a(href="#") Исторические
            li
              a(href="#") Биография
            li &nbsp;
            li
              +e.A.header(href="#") Мультфильмы
            li
              a(href="#") Новинки
            li
              a(href="#") Популярные
            li
              a(href="#") Для девочек
            li
              a(href="#") Для мальчиков
            li &nbsp;
            li
              +e.A.header(href="#") Сериалы
            li
              a(href="#") Новинки
            li
              a(href="#") Популярные
            li
              a(href="#") Зарубежные
            li
              a(href="#") Отечественные
            li
              a(href="#") Лучшее на ТНТ
  // END CATEGORY 