.category
  color: #656565
  background-color: #e8e8e8
  padding: 40px 0 40px

  &_block
    display: none
    +media-breakpoint-up(md)
      display: block

  a
    color: inherit
    &:hover
      +cp

  ul
    column-count: 2
    +media-breakpoint-up(sm)
      column-count: 3
    +media-breakpoint-up(md)
      column-count: 4
    +media-breakpoint-up(lg)
      column-count: 6

  li.is-active
    a
      +cp

  li
    display: block
    margin: 6px 0
    &:first-child
      margin-top: 0

  /*&__col
    &:nth-child(1)
      order: 1
    &:nth-child(2)
      order: 3
    &:nth-child(3)
      order: 5
    &:nth-child(4)
      order: 2
    &:nth-child(5)
      order: 4
    &:nth-child(6)
      order: 6
    +media-breakpoint-up(md)
      &:nth-child(2)
        order: 4
      &:nth-child(3)
        order: 2
      &:nth-child(4)
        order: 5
      &:nth-child(5)
        order: 3
      order: 6
    +media-breakpoint-up(lg)
      &:nth-child(2)
        order: 2
      &:nth-child(3)
        order: 3
      &:nth-child(4)
        order: 4
      &:nth-child(5)
        order: 5*/



  &__header
    +geb
    font-size: 14px
    text-transform: uppercase
    margin-bottom: 10px

  .title
    margin-bottom: 20px
    .fa
      +cp
      font-size: 14px
      vertical-align: middle
      display: inline-block
      margin-right: 10px
    span
      vertical-align: middle