body
  +gl
  font-size: 16px
  line-height: (18/16)

img
  max-width: 100%

.page
  &__wrap
    overflow: hidden
    .is-fixed-header &
      padding-top: 72px

.title
  font-size: 24px
  line-height: 1
  margin-bottom: 35px
  letter-spacing: 1.5px
  color: inherit
  +media-breakpoint-up(md)
    font-size: 30px
    margin-bottom: 45px


.tag
  font-size: 14px
  border: 1px solid #656565
  color: #656565
  display: inline-block
  border-radius: 20px
  padding: 6px 12px
  letter-spacing: .8px
  vertical-align: middle

  &_blue
    +geb
    color: #fff
    +bgp
    border-color: $color-primary


.btn
  user-select: none
  display: inline-block

  &_play
    +bgp
    color: #fff
    height: 30px
    line-height: 30px
    width: 40px
    border-radius: 20px
    text-align: center
    font-size: 10px
    vertical-align: middle
    &:hover
      background-color: #2571bf

  &_primary
    +geb
    +bgp
    color: #fff
    font-size: 14px
    height: 50px
    line-height: 50px
    padding: 0 40px
    border-radius: 25px
    letter-spacing: .6px
    &:hover
      background-color: #2571bf

  &_default
    +geb
    +cp
    font-size: 14px
    height: 50px
    line-height: 50px
    padding: 0 40px
    border-radius: 25px
    letter-spacing: .6px
    border: 1px solid $color-primary
    &:hover
      +bgp
      color: #fff


.text
  &-center
    text-align: center


.logo
  +geb
  font-size: 18px
  text-transform: uppercase
  letter-spacing: 1.2px


.block-gray
  background-color: #1a191e
  padding: 40px 0 45px
  .title
    color: #fff
    line-height: 1


.kinopoisk
  display: inline-block
  vertical-align: middle
  position: relative
  white-space: nowrap

  svg
    display: inline-block
    vertical-align: middle

  
  &__tag
    font-size: 14px
    border: 1px solid #fff
    color: #fff
    display: block
    border-radius: 20px
    padding: 6px 12px
    letter-spacing: .8px
    display: inline-block
    vertical-align: middle
    +box

.imdb
  display: inline-block
  vertical-align: middle
  position: relative
  white-space: nowrap

  svg
    display: inline-block
    vertical-align: middle

  
  &__tag
    font-size: 14px
    border: 1px solid #fff
    color: #fff
    display: block
    border-radius: 20px
    padding: 6px 12px
    letter-spacing: .8px
    display: inline-block
    vertical-align: middle
    +box

