.pagination
  text-align: center
  li
    display: inline-block
    &.is-active
      a
        border-color: $color-primary
        +bgp
        +geb
        opacity: 1
    
    &.arrow
      a
        border-color: #fff
        &:hover
          border-color: $color-primary
          +bgp
          opacity: 1

    &.more
      +r(480)
        display: none
      span
        position: relative
        top: -4px

    &.first,
    &.last
      +r(480)
        display: none


  span
    color: #fff
    opacity: .2

  a
    width: 40px
    height: 40px
    line-height: 38px
    border: 1px solid transparent
    opacity: .2
    color: #fff
    display: inline-block
    border-radius: 50%
    +r(480)
      width: 35px
      height: 35px
      line-height: 34px

    &:hover
      border-color: #fff


