.soon-films
  margin-top: 30px
  +media-breakpoint-up(xl)
    margin-top: 0
  &__slider
    border-radius: 3px

  &__item
    outline: none
    border-radius: 3px
    position: relative

  &__inner
    color: #fff
    padding: 50px 30px 50px 36px
    position: relative
    z-index: 2
    text-align: center
    +media-breakpoint-up(md)
      text-align: left
      display: flex
      align-items: center
      height: 380px

  &__bg-wrap
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 3px
    overflow: hidden

  &__bg
    position: absolute
    top: -10px
    left: -20px
    right: -20px
    bottom: -10px
    border-radius: 3px
    +cover
    filter: blur(10px)


  &__preview
    display: inline-block
    flex: none
    transition: transform .5s ease-in-out
    outline: none
    margin-bottom: 10px
    +media-breakpoint-up(md)
      margin-right: 30px
      margin-bottom: 0
    +media-breakpoint-up(lg)
      max-width: 150px
    +media-breakpoint-up(xl)
      max-width: none
    &:hover
      box-shadow: 0 0 10px rgba(#000, .5)
    img
      border-radius: 3px

  &__title
    margin-top: 10px
    font-size: 24px
    +media-breakpoint-up(md)
      margin-top: 20px

  &__genre
    margin-top: 10px
    font-size: 14px
    text-transform: uppercase

  .btn
    margin-top: 10px
    padding: 0 50px
    +media-breakpoint-up(md)
      margin-top: 20px
    +media-breakpoint-up(lg)
      padding: 0 30px
    +media-breakpoint-up(xl)
      padding: 0 50px

  .tag
    color: #fff
    border-color: #fff
    &_blue
      border-color: $color-primary


  .slick-slide:not(.slick-current)
    .soon-films__preview
      transform: translateX(-55px)
      +media-breakpoint-up(md)
        transform: translateX(-75px)
      +media-breakpoint-up(lg)
        transform: translateX(-55px)
      +media-breakpoint-up(xl)
        transform: translateX(-75px)


  .slick-prev,
  .slick-next
    position: absolute
    background-color: rgba(#fff, .2)
    width: 40px
    height: 80px
    line-height: 80px
    z-index: 5
    color: #fff
    font-size: 20px
    cursor: pointer
    +box
    +media-breakpoint-up(md)
      font-size: 12px
      width: 20px
      height: 40px
      line-height: 40px
    &:hover
      background-color: #fff
      +cp

  .slick-prev
    border-radius: 0 40px 40px 0
    padding-left: 10px
    text-align: left
    left: 0
    top: 50%
    margin-top: -40px
    +media-breakpoint-up(md)
      margin-top: -20px
      border-radius: 0 20px 20px 0
      padding-left: 5px

  .slick-next
    border-radius: 40px 0 0 40px
    padding-right: 10px
    text-align: right
    right: 0
    top: 50%
    margin-top: -40px
    +media-breakpoint-up(md)
      margin-top: -20px
      border-radius: 20px 0 0 20px
      padding-right: 5px