.social
  &__vk,
  &__fb,
  &__in,
  &__tw,
  &__gp
    background-color: #d1d1d1
    width: 35px
    height: 35px
    line-height: 35px
    display: inline-block
    text-align: center
    border-radius: 100%
    font-size: 14px
    color: #fff
    margin-right: 5px
    +media-breakpoint-up(xl)
      width: 40px
      height: 40px
      line-height: 40px
      margin-right: 10px

  &__vk
    &:hover
      background-color: #507299
  &__fb
    &:hover
      background-color: #3954a1
  &__in
    &:hover
      background-image: linear-gradient(to top right, #9a38bf, #d92d7c, #fa993c)
  &__tw
    &:hover
      background-color: #00acee
  &__gp
    &:hover
      background-color: #dc4a38