.catalog
  padding: 45px 0 50px
  background-color: #1a191e




  .title
    color: #fff
    margin-bottom: 5px
    +media-breakpoint-up(md)
      margin-bottom: 45px

  &__head
    position: relative
    +box
    margin-bottom: 10px
    +media-breakpoint-up(md)
      padding-right: 180px
      margin-bottom: 0

  &__view
    text-align: right
    color: #48474b
    font-size: 14px
    +media-breakpoint-up(md)
      position: absolute
      top: -5px
      right: 0
    span
      margin-right: 10px

  &__view-grid,
  &__view-line
    cursor: pointer
    display: inline-block
    vertical-align: middle
    width: 40px
    height: 40px
    line-height: 40px
    text-align: center
    border-radius: 50%
    border: 1px solid #48474b
    margin-left: 5px
    color: #48474b
    &.is-active,
    &:hover
      border-color: #fff
      color: #fff


  &__line
    flex: 0 0 100%
    max-width: 100%



  .pagination
    margin-top: 20px

  &__more
    margin-top: 10px

  &.is-grid
    .catalog
      &__line
        flex: 0 0 100%
        max-width: 100%
        padding: 0 15px
        +media-breakpoint-up(sm)
          flex: 0 0 50%
          max-width: 50%
        +media-breakpoint-up(md)
          flex: 0 0 33.333333%
          max-width: 33.333333%
        +media-breakpoint-up(lg)
          flex: 0 0 25%
          max-width: 25%
