.comments
  color: #626164
  letter-spacing: .8px


  .title
    color: #fff

  &__form
    position: relative
    textarea
      +gl
      +box
      height: 60px
      width: 100%
      background-color: transparent
      resize: none
      border: 1px solid #48474b
      border-radius: 3px
      font-size: 14px
      color: #fff
      padding: 15px 70px 15px 30px
      +media-breakpoint-up(sm)
        font-size: 16px
        letter-spacing: .6px
        
      &:focus
        height: 250px
    
    button
      position: absolute
      bottom: 15px
      right: 20px
      +bgp
      border: 0 none
      user-select: none
      color: #fff
      font-size: 10px
      height: 40px
      line-height: 40px
      width: 40px
      border-radius: 50%
      cursor: pointer
      &:hover
        background-color: #2571bf


  &__item
    position: relative
    margin: 25px 0 30px

  &__avatar
    border-radius: 50%
    display: inline-block
    vertical-align: middle
    margin-right: 15px


  &__name
    color: #fff
    display: inline-block
    vertical-align: middle

  &__date
    font-size: 12px
    position: absolute
    top: 0
    right: 0

  &__text
    padding-top: 10px
    +media-breakpoint-up(sm)
      padding-top: 0
      padding-left: 60px

    p
      margin-bottom: 5px
