.last-comment
  &__wrap
    padding-right: 35px
    position: relative

  &__item
    color: #48474b
    font-size: 12px
    +clr
    margin: 5px 0
    +r(480)
      margin: 15px 0

  &__preview
    width: 120px
    float: left
    +r(480)
      width: 70px
      margin-right: 10px
    img
      border-radius: 3px

  &__body
    padding-left: 140px
    position: relative
    line-height: 1.3
    padding-top: 13px
    +r(480)
      padding-top: 0
      padding-left: 0

  &__time
    position: absolute
    right: 0
    top: 13px

  &__title
    +geb
    text-transform: uppercase
    padding-right: 40px
    +box
    margin-bottom: 10px
    letter-spacing: .5px
    a
      +cp
      &:hover
        text-decoration: underline

  &__name
    margin-bottom: 5px
    +geb

  .frame
    padding: 0
    height: 380px

    .slidee
      margin: 0

  .mCSB_outside+.mCSB_scrollTools
    right: -42px

  .mCSB_scrollTools
    opacity: 1

    .mCSB_dragger
      height: 50px

      .mCSB_dragger_bar
        width: 3px
        border-radius: 1px
        +bgp

    .mCSB_draggerRail
      background-color: #403f43
      width: 1px
      &:after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 30px
        background-image: linear-gradient(to top, #1a191e, transparent)
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        height: 30px
        background-image: linear-gradient(to bottom, #1a191e, transparent)

