.header
  background-color: #1a191e
  border-bottom: 2px solid $color-primary
  color: #fff
  position: relative
  .is-fixed-header &
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 50
    transform: translateY(-100%)
    transition: transform .5s ease-in-out
    opacity: 0
  .is-fixed-header-show &
    transform: translateY(0)
    opacity: 1

  &__wrap
    height: 70px
    align-items: center
    display: flex
    justify-content: space-between

  .logo
    color: #fff
    flex: none


  &__category
    flex: 0 1 auto
    font-size: 14px
    opacity: .2
    &:hover
      opacity: 1
      cursor: pointer

  &__category-icon
    width: 40px
    height: 40px
    line-height: 38px
    text-align: center
    border: 1px solid #fff
    display: inline-block
    border-radius: 100%
    margin-right: 7px

  &__category-text
    letter-spacing: .5px

  
  &.category-active
    .category
      display: block
    .header
      &__category
        opacity: 1

  .category
    display: none
    position: absolute
    top: 100%
    left: 0
    right: 0
    z-index: 20
    margin-top: 2px
    padding: 20px 0
    max-height: 300px

  &__search
    padding: 0 10px
    flex: 1 1 auto
    text-align: right

  .col
    position: static


  .mCSB_scrollTools
    opacity: 1
    right: 10px

    .mCSB_dragger
      height: 15px

      .mCSB_dragger_bar
        width: 15px
        border-radius: 1px
        border-radius: 50%
        +bgp

    .mCSB_draggerRail
      background-color: #403f43
      opacity: .5
      width: 1px

.search
  width: 40px
  height: 40px
  border: 1px solid #fff
  border-radius: 20px
  margin-left: auto
  opacity: .2
  &.is-active
    opacity: 1
    width: auto
    +r(640)
      width: 40px
    .search
      &__form
        display: block
      &__toggle
        display: none
        +r(640)
          display: block
  &:hover
    opacity: 1
  &__form
    display: none
    position: relative
    +r(640)
      position: absolute
      top: 100%
      margin-top: 2px
      left: 0
      right: 0
      background-color: #1a191e
      z-index: 10
      border-radius: 0
      border: 0 none
  &__toggle
    cursor: pointer
    height: 38px
    line-height: 38px
    text-align: center
    font-size: 14px

  button
    position: absolute
    top: 0
    right: 0
    bottom: 0
    width: 39px
    color: #fff
    background-color: transparent
    border: 0 none
    font-size: 14px
    padding: 0

  input
    +box
    height: 38px
    width: 100%
    padding: 0 40px 0 15px
    border: 0 none
    background-color: transparent
    border-radius: 20px
    outline: none
    color: #fff

