.film-crad-small
  overflow: hidden
  border-radius: 3px
  box-shadow: 0 5px 10px rgba(#000, .5)
  position: relative
  display: block
  color: #665665
  max-width: 180px
  margin: 0 auto 15px
  &:hover
    box-shadow: none
    .film-crad-small
      &__overlay
        transform: translateY(0)

  img
    display: block
    border-radius: 3px
    width: 100%



  &__overlay
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 70px 10px 10px
    transform: translateY(100%)
    background-image: linear-gradient(to top, #e8e8e8 50%, transparent)
    +box

  &__title
    font-size: 12px
    line-height: 1.24
    display: block
    margin-bottom: 8px
    +media-breakpoint-up(sm)
      font-size: 14px
      letter-spacing: .7px

  .tag
    margin-right: 5px
    +media-breakpoint-up(sm)
      margin-right: 10px



  &__more
    margin-top: 15px




.film-card
  margin-bottom: 25px
  color: #fff
  font-size: 16px
  display: flex
  flex-wrap: wrap
  .is-grid &
    display: block
    position: relative
    overflow: hidden
    margin: 0 auto 15px
    max-width: 220px
    +media-breakpoint-up(sm)
      max-width: 262px
    &:hover
      .film-card__body
        transform: translate(0)
  +media-breakpoint-up(md)
    margin-bottom: 15px


  &__preview
    text-align: center
    padding: 0 15px
    flex: 0 0 100%
    max-width: 100%
    +media-breakpoint-up(sm)
      text-align: left
      flex: 0 0 33.33333%
      max-width: 33.3333333%
      .is-grid &
        max-width: 100%
    +media-breakpoint-up(md)
      flex: 0 0 25%
      max-width: 25%
      .is-grid &
        max-width: 100%
        padding: 0
    a
      max-width: 150px
      display: inline-block
      +media-breakpoint-up(sm)
        max-width: none
        display: block
      .is-grid &
        max-width: none
    img
      border-radius: 3px

    .is-grid &
      padding: 0


  &__body
    text-align: center
    max-width: 400px
    margin: 0 auto
    flex: 0 0 100%
    padding: 0 15px
    +media-breakpoint-up(sm)
      flex: 0 0 66.66666%
      max-width: 66.66666%
      margin: 0
      text-align: left
      .is-grid &
        max-width: 100%
    +media-breakpoint-up(md)
      flex: 0 0 75%
      max-width: 75%
      .is-grid &
        max-width: 100%
    .is-grid &
      position: absolute
      bottom: 0
      left: 0
      right: 0
      padding: 25px 10px 15px
      background-image: linear-gradient(to top, #1a191e 50%, transparent)
      color: #fff
      transform: translateY(100%)
      transition: transform .5s ease-in-out

  .film-data
    p
      margin-top: 5px
      line-height: 1.24
      letter-spacing: .8px
      font-size: 14px
      display: block
      +media-breakpoint-up(lg)
        margin-top: 27px
        font-size: 16px
        letter-spacing: .8px
      .is-grid &
        display: none
    .full-text
      display: none
      +media-breakpoint-up(lg)
        display: inline

    &__title
      font-size: 18px
      letter-spacing: 1.5px
      .is-grid &
        font-size: 14px
      +media-breakpoint-up(sm)
        font-size: 22px
        .is-grid &
          font-size: 14px
      +media-breakpoint-up(lg)
        font-size: 30px
        margin-top: 10px
        .is-grid &
          font-size: 14px

    &__title-original
      .is-grid &
        display: none

    &__actors
      display: none
      +media-breakpoint-up(lg)
        margin-top: 35px
        display: block
        .is-grid &
          display: none
      span
        margin-right: 20px


    &__tags
      display: none
      +media-breakpoint-up(sm)
        display: block
      .is-grid &
        display: none

      &_grid
        display: none
        .tag
          margin: 0
        .is-grid &
          margin-top: 5px
          vertical-align: middle
          +media-breakpoint-up(xl)
            display: inline-block

  
    .btn
      margin-top: 10px
      +media-breakpoint-up(lg)
        margin-top: 25px
      .is-grid &
        +gl
        height: 40px
        line-height: 38px
        width: 100%
        text-align: center
        padding: 0
        vertical-align: middle
        margin-top: 15px
        margin-left: 5px
        +media-breakpoint-up(xl)
          height: 30px
          line-height: 28px
          margin-top: 5px
          width: 120px
