mixin filmdata(infilm, topcarousel, catalog)
  // BEGIN FILM-DATA 
  +b.film-data
    +e.tags
      +b.tag 2017г
      +b.tag Фантастика
      +b.tag Триллер
      +b.kinopoisk
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='16px', height='16px')
          path(fill='rgb(255, 255, 255)', d='M8.000,16.000 C3.582,16.000 -0.000,12.418 -0.000,8.000 C-0.000,3.582 3.582,-0.000 8.000,-0.000 C12.418,-0.000 16.000,3.582 16.000,8.000 C16.000,12.418 12.418,16.000 8.000,16.000 ZM4.992,12.952 C6.039,12.952 6.887,12.103 6.887,11.056 C6.887,10.010 6.039,9.161 4.992,9.161 C3.945,9.161 3.097,10.010 3.097,11.056 C3.097,12.103 3.945,12.952 4.992,12.952 ZM4.944,3.081 C3.897,3.081 3.048,3.926 3.048,4.968 C3.048,6.010 3.897,6.855 4.944,6.855 C5.990,6.855 6.839,6.010 6.839,4.968 C6.839,3.926 5.990,3.081 4.944,3.081 ZM8.000,6.855 C7.368,6.855 6.855,7.368 6.855,8.000 C6.855,8.632 7.368,9.145 8.000,9.145 C8.632,9.145 9.145,8.632 9.145,8.000 C9.145,7.368 8.632,6.855 8.000,6.855 ZM11.032,3.048 C9.990,3.048 9.145,3.897 9.145,4.944 C9.145,5.990 9.990,6.839 11.032,6.839 C12.074,6.839 12.919,5.990 12.919,4.944 C12.919,3.897 12.074,3.048 11.032,3.048 ZM11.089,9.145 C10.042,9.145 9.194,9.990 9.194,11.032 C9.194,12.074 10.042,12.919 11.089,12.919 C12.135,12.919 12.984,12.074 12.984,11.032 C12.984,9.990 12.135,9.145 11.089,9.145 Z')
        +e.tag 7.1
      +b.tag 12+
      +b.tag._blue FullHD
    if infilm
      +e.H3.title Человек-паук: Возвращение домой
    if topcarousel
      +e.H3.title
        a(href="#") Человек-паук: Возвращение домой
    +e.title-original Spider-Man: Homecoming
    p После исторической встречи с командой Мстителей Питер Паркер возвращается домой, стараясь зажить обычной жизнью под опекой своей тёти Мэй. <span class="full-text">Но теперь за Питером приглядывает ещё кое-что… Тони Старк видел Человека-Паука в деле и должен стать его наставником. Когда новый злодей Стервятник угрожает уничтожить всё, что дорого Питеру, приходит время доказать всем, что такое настоящий супергерой.</span>

    if topcarousel
      +e.actors
        span Том Холланд
        span Зендая
        span Мариса Томей
      if catalog
        +e.tags._grid
          +b.tag 2017г
          +b.tag 12+
        +b.btn._default(href="#") Подробнее
      else
        +b.btn._primary(href="#") Подробнее

    if infilm
      +b.cadrs
        +e.title Кадры из фильма
        +e.list
          +e.A.item.fancybox(href="images/cadrs/1b.jpg", data-fancybox="cadrs")
            img(src="images/cadrs/1.jpg", alt="")
          +e.A.item.fancybox(href="images/cadrs/2b.jpg", data-fancybox="cadrs")
            img(src="images/cadrs/2.jpg", alt="")
          +e.A.item.fancybox(href="images/cadrs/3b.jpg", data-fancybox="cadrs")
            img(src="images/cadrs/3.jpg", alt="")

  // END FILM-DATA 