.film-data
  color: #fff
  &__title
    letter-spacing: 1.5px
    font-size: 24px
    margin-top: 10px
    +media-breakpoint-up(lg)
      font-size: 30px
    a
      color: #fff
      &:hover
        +cp

  &__title-original
    font-size: 18px
    margin-top: 5px
    letter-spacing: 1px
    display: none
    +media-breakpoint-up(sm)
      display: block


  &__actors
    text-transform: uppercase
    font-size: 16px
    letter-spacing: 1px
    margin-top: 15px
    display: none
    +media-breakpoint-up(md)
      display: block

    span
      margin-right: 20px

  &__tags
    display: none
    +media-breakpoint-up(md)
      display: block

  .tag
    border-color: #fff
    color: #fff
    opacity: .2
    margin-right: 5px
    margin-bottom: 5px
    &_blue
      border-color: $color-primary
      opacity: 1

  .kinopoisk
    margin-bottom: 5px
    margin-left: 10px
    opacity: .2


  p
    margin-top: 5px
    line-height: 1.24
    letter-spacing: .8px
    font-size: 14px
    display: none
    +media-breakpoint-up(sm)
      display: block
    +media-breakpoint-up(lg)
      margin-top: 27px
      font-size: 16px
      letter-spacing: .8px
  .full-text
    display: none
    +media-breakpoint-up(md)
      display: inline

  .btn
    margin-top: 5px
    padding: 0 30px
    height: 40px
    line-height: 38px
    margin-top: 25px
    +media-breakpoint-up(lg)
      height: 50px
      line-height: 48px
      padding: 0 50px

  .cadrs
    margin-top: 30px

.cadrs
  &__title
    font-size: 16px
    letter-spacing: 1px
    margin-bottom: 20px

  &__item
    display: inline-block
    margin-right: 10px
    outline: none
    &:hover
      box-shadow: 0 0 3px $color-primary
    img
      border-radius: 3px