.popular
  padding: 45px 0 50px
  background-color: #e8e8e8

  .title
    color: #656565

  &__item
    overflow: hidden
    border-radius: 3px
    box-shadow: 0 5px 10px rgba(#000, .5)
    position: relative
    display: block
    color: #665665
    max-width: 180px
    margin: 0 auto 15px
    &:hover
      box-shadow: none
      .popular
        &__overlay
          transform: translateY(0)

    img
      display: block
      border-radius: 3px
      width: 100%



  &__overlay
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 40px 10px 10px
    transform: translateY(100%)
    background-image: linear-gradient(to top, #e8e8e8 50%, transparent)
    +box

  &__title
    font-size: 14px
    line-height: 1.24
    letter-spacing: .7px
    display: block
    margin-bottom: 8px

  .tag
    margin-right: 10px


  &__more
    margin-top: 15px