.film
  position: relative
  background-color: #1a191e
  padding: 50px 0 40px
  color: #fff

  .container
    position: relative
    z-index: 2

  &__bg-wrap
    +cover
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 500px
    overflow: hidden
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-color: rgba(#1a191e, .5)
    &:before
      content: ''
      position: absolute
      z-index: 2
      bottom: 0
      top: 0
      left: 0
      right: 0
      background-image: linear-gradient(to top, #1a191e, transparent)

  &__bg
    +cover
    position: absolute
    top: -10px
    left: -20px
    right: -20px
    bottom: -10px
    filter: blur(15px)

  &__image
    img
      border-radius: 3px

  
  &__data
    margin-top: 40px
    font-size: 14px
    color: #48474b

  .tag
    margin: 5px 0
    border-color: #fff
    color: #fff
    opacity: .2

  .kinopoisk
    opacity: .2
    margin: 5px 0

  .imdb
    opacity: .2
    margin: 5px 0 5px 10px

  &__rating
    margin-bottom: 25px


  &__data-col
    margin-bottom: 15px
    display: inline-block
    padding-right: 15px
    +box

  &__data-subtitle
    text-transform: uppercase
    margin-bottom: 5px
    color: #fff


  .recommend
    margin-top: 40px
    .film-crad-small
      &__overlay
        background-image: linear-gradient(to top, #1a191e 50%, transparent)

      &__title
        color: #fff

    &__item
      width: 50%
      +media-breakpoint-up(lg)
        width: auto


  .film-data
    display: none
    +media-breakpoint-up(lg)
      display: block

  .film-tab
    margin-top: 0
    +media-breakpoint-up(lg)
      margin-top: 35px