mixin topcarousel()
  // BEGIN TOP-CAROUSEL 
  +b.top-carousel.owl-carousel
    -for(var i=0; i<3; i++)
      // BEGIN TOP-CAROUSEL ITEM 
      +e.item
        +e.bg-wrap
          +e.bg(style="background-image: url(images/catalog/1.jpg)")
        +e.inner
          +e.preview
            a(href="#")
              img(src="images/catalog/1.jpg", alt="")
          +e.body
            +filmdata(false, true)
      // END TOP-CAROUSEL ITEM 
      // BEGIN TOP-CAROUSEL ITEM 
      +e.item
        +e.bg-wrap
          +e.bg(style="background-image: url(images/catalog/2.jpg)")
        +e.inner
          +e.preview
            a(href="#")
              img(src="images/catalog/2.jpg", alt="")
          +e.body
            +filmdata(false, true)
      // END TOP-CAROUSEL ITEM 
  // END TOP-CAROUSEL 