.top-carousel
  &__item
    position: relative
    color: #fff

  &__bg-wrap
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      background-color: rgba(#1a191e, .5)

  &__bg
    +cover
    position: absolute
    top: -10px
    bottom: -10px
    left: -20px
    right: -20px
    filter: blur(15px)

  &__inner
    position: relative
    z-index: 2
    max-width: 945px
    margin: 0 auto
    padding: 50px 20px 70px
    display: flex
    align-items: center
    +media-breakpoint-up(md)
      padding: 50px 40px 70px
      align-items: flex-start
    +media-breakpoint-up(lg)
      padding: 50px 0 70px
    +r(440)
      display: block

  &__body
    transform: translateX(100%)
    opacity: 0
    transition: transform .8s ease-in-out, opacity .5s ease-in-out
    +r(440)
      text-align: center
      max-width: 200px
      margin: 0 auto
      transform: translateX(0)

  &__preview
    flex: none
    margin-right: 30px
    transition: transform .8s ease-in-out
    +r(1200)
      transition: transform .5s ease-in-out
      transform: translateX(-10px) !important
    +r(550)
      max-width: 150px
      margin-right: 20px

    +r(440)
      max-width: 200px
      text-align: center
      margin: 0 auto

    img
      border-radius: 3px

  .owl-item
    &.active
      .top-carousel
        &__preview
          transform: translateX(0) !important
        &__body
          opacity: 1
          transform: translateX(0) !important
    img
      display: block
      width: auto

  &__title
    letter-spacing: 1.5px
    font-size: 24px
    margin-top: 10px
    +media-breakpoint-up(lg)
      font-size: 30px
    a
      color: #fff
      &:hover
        +cp

  &__title-original
    font-size: 18px
    margin-top: 5px
    letter-spacing: 1px
    display: none
    +media-breakpoint-up(sm)
      display: block


  &__actors
    text-transform: uppercase
    font-size: 16px
    letter-spacing: 1px
    margin-top: 15px
    display: none
    +media-breakpoint-up(md)
      display: block

    span
      margin-right: 20px

  &__tags
    display: none
    +media-breakpoint-up(md)
      display: block

  .tag
    border-color: #fff
    color: #fff
    opacity: .2
    margin-right: 5px
    margin-bottom: 5px
    &_blue
      border-color: $color-primary
      opacity: 1

  .kinopoisk
    margin-left: 10px
    opacity: .2
    .tag
      opacity: 1
      margin-left: 5px
    svg
      top: 1px

  p
    margin-top: 5px
    line-height: 1.24
    letter-spacing: .8px
    font-size: 14px
    display: none
    +media-breakpoint-up(sm)
      display: block
    +media-breakpoint-up(lg)
      margin-top: 27px
      font-size: 16px
      letter-spacing: .8px
  .full-text
    display: none
    +media-breakpoint-up(md)
      display: inline

  .btn
    margin-top: 5px
    padding: 0 30px
    height: 40px
    line-height: 38px
    margin-top: 25px
    +media-breakpoint-up(lg)
      height: 50px
      line-height: 48px
      padding: 0 50px

  .owl-prev,
  .owl-next
    position: absolute
    top: 200px
    +r(550)
      top: 130px
    +r(440)
      top: 180px
    +media-breakpoint-up(lg)
      position: static
    color: #fff
    font-size: 14px
    display: inline-block
    opacity: .2
    &:hover
      opacity: 1
    .owl-c-icon
      font-size: 16px
      border: 1px solid #fff
      width: 40px
      height: 80px
      line-height: 78px
      background-color: #fff
      display: block
      +cp
      font-size: 20px
      +media-breakpoint-up(lg)
        display: inline-block
        text-align: center
        color: #fff
        margin: 0 5px
        width: 40px
        height: 40px
        line-height: 38px
        background-color: transparent
        padding: 0

    .owl-c-text
      display: none
      +media-breakpoint-up(lg)
        display: inline

  .owl-prev
    left: 0
    .owl-c-icon
      border-radius: 0 40px 40px 0
      padding-left: 10px
      +media-breakpoint-up(lg)
        border-radius: 50%
        padding-left: 0
  .owl-next
    right: 0
    .owl-c-icon
      border-radius: 40px 0 0 40px
      padding-right: 10px
      text-align: right
      +media-breakpoint-up(lg)
        border-radius: 50%
        padding-right: 0
        text-align: center
  .owl-nav
    +media-breakpoint-up(lg)
      position: absolute
      bottom: 80px
      left: 50%
      margin-left: 250px
