include _assets/bemto/bemto

include head/head
include category/category
include film-data/film-data
include top-carousel/top-carousel

doctype html
html(lang="ru")

  block head
    head
      +head({
        "title": "Project Template",
        "author": "Sinelnikov Dmitriy",
        "description": "My default project template."
      })
      
    +b.BODY.page
      +e.wrap
        block header
          // BEGIN HEADER 
          +b.HEADER.header
            .container
              .row
                .col
                  +e.wrap
                    +b.A.logo(href="#") LOGOTYPE
                    +e.search
                      +b.search
                        +e.form
                          form(action="/")
                            input(type="text", placeholder="Поиск...")
                            button(type="submit")
                              .fa.fa-search
                        +e.toggle
                          .fa.fa-search
                    +e.category
                      +e.SPAN.category-icon
                        .fa.fa-navicon
                      +e.SPAN.category-text Категории
            +category
          // END HEADER 
        block content
          div content

        block footer
          // BEGIN FOOTER 
          +b.FOOTER.footer
            .container
              .row
                +e.logo.col-xl-2.col-lg-3.col-md-4
                  +b.A.logo(href="#") Logotype
                  +b.copy Logotype © 2017.<br>Все права защищены.
                +e.text.col-xl-4.col-lg-3.col-md-8
                  +e.title О нас
                  p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой.
                +e.menu.col-xl-3.col-lg-3.col-md-12
                  +e.NAV.nav
                    ul
                      li.is-active
                        a(href="#") Главная
                      li
                        a(href="#") Новинки
                      li
                        a(href="#") Стол заказов
                      li
                        a(href="#") Правообладателям
                +e.social.col-xl-3.col-lg-3.col-md-12
                  +e.title Мы в социальных сетях
                  +b.social
                    +e.A.vk(href="#")
                      .fa.fa-vk
                    +e.A.fb(href="#")
                      .fa.fa-facebook
                    +e.A.in(href="#")
                      .fa.fa-instagram
                    +e.A.tw(href="#")
                      .fa.fa-twitter
                    +e.A.gp(href="#")
                      .fa.fa-google-plus
          // END FOOTER 

        
      block vendors
        // build:js js/vendor.js
        script( src="_assets/jquery/dist/jquery.min.js")
        script( src="_assets/slick-carousel/slick/slick.min.js")
        script( src="_assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
        script( src="_assets/owl.carousel/dist/owl.carousel.min.js")
        script( src="_assets/plyr/dist/plyr.js")
        script( src="_assets/fancybox/dist/jquery.fancybox.min.js")
        // endbuild
      block scripts
        // build:js js/main.js
        script( src="js/main.js")
        // endbuild
