extends _base

block content
  +topcarousel

  +category(true)

  // BEGIN CATALOG 
  +b.catalog.is-grid
    .container
      .row
        .col
          +e.head
            +b.title Новинки
            +e.view
              span Сменить вид
              +e.A.view-grid.is-active(href="#")
                .fa.fa-th
              +e.view-line(href="#")
                .fa.fa-list

      .row
        -for(var i=0; i<6; i++)
          +e.line
            // BEGIN FILM-CARD 
            +b.film-card
              +e.preview
                a(href="#")
                  img(src="images/catalog/1.jpg", alt="")
              +e.body
                +filmdata(false, true, true)
            // END FILM-CARD 
          +e.line
            // BEGIN FILM-CARD 
            +b.film-card
              +e.preview
                a(href="#")
                  img(src="images/catalog/2.jpg", alt="")
              +e.body
                +filmdata(false, true, true)
            // END FILM-CARD 
      .row
        .col.text-center
            // BEGIN PAGINATION 
            +b.pagination
              ul
                li.arrow
                  a(href="#")
                    .fa.fa-angle-left
                li.first
                  a(href="#") 1
                li.more
                  span ...
                li
                  a(href="#") 13
                li
                  a(href="#") 14
                li.is-active
                  a(href="#") 15
                li
                  a(href="#") 16
                li
                  a(href="#") 17
                li.more
                  span ...
                li.last
                  a(href="#") 47
                li.arrow
                  a(href="#")
                    .fa.fa-angle-right
            // END PAGINATION 
  // END CATALOG 






