extends _base

block content
  +topcarousel

  +category(true)


  // BEGIN CATALOG 
  +b.catalog._main.is-grid
    .container
      .row
        .col
          +e.head
            +b.title Новинки
            +e.view
              span Сменить вид
              +e.A.view-grid.is-active(href="#")
                .fa.fa-th
              +e.view-line(href="#")
                .fa.fa-list

      .row.align-items-center
        -for(var i=0; i<4; i++)
          +e.line
            // BEGIN FILM-CARD 
            +b.film-card
              +e.preview
                a(href="#")
                  img(src="images/catalog/1.jpg", alt="")
              +e.body
                +filmdata(false, true, true)
            // END FILM-CARD 
          +e.line
            // BEGIN FILM-CARD 
            +b.film-card
              +e.preview
                a(href="#")
                  img(src="images/catalog/2.jpg", alt="")
              +e.body
                +filmdata(false, true, true)
            // END FILM-CARD 
      .row
        .col.text-center
            +b.A.btn._primary.__more(href="#") Показать еще
  // END CATALOG 

  // BEGIN POPULAR 
  +b.popular
    .container
      .row
        .col
          +b.title Популярные фильмы
      .row.justify-content-center
        -for(var i = 0; i<6; i++)
          .col-xl-2.col-lg-3.col-md-4.col-6
            // BEGIN FILM-CARD-SMALL 
            +b.A.film-crad-small(href="#")
              img(src="images/popular/1.jpg", alt="")
              +e.overlay
                +e.title Пятьдесят оттенков свободы
                +e.bottom
                  +b.SPAN.tag 2018г
                  +b.btn._play
                    .fa.fa-play
            // END FILM-CARD-SMALL 

      .row
        .col.text-center
            +b.A.btn._primary.__more(href="#") Показать еще
  // END POPULAR 
  // BEGIN BLOCK-GRAY 
  +b.block-gray
    .container
      .row
        .col-lg-6
          // BEGIN LAST-COMMENT 
          +b.last-comment
            +b.title Последние комментарии
            +e.wrap
              .frame
                -for(var i=0; i<5; i++)
                  // BEGIN LAST-COMMENT-ITEM 
                  +e.item
                    +e.A.preview(href="#")
                      img(src="images/last-comment/1.jpg", alt="")
                    +e.body
                      +e.time 17:15
                      +e.title
                        a(href="#") Очень плохие мамочки 2
                      +e.name Nick21
                      p Фильм понравился .главная героиня образ раскрыт так себе. Фрейдлих бесподобна. смотреть можно но не более одного раза
                  // END LAST-COMMENT-ITEM 
          // END LAST-COMMENT 
        .col-lg-6
          // BEGIN SOON-FILMS 
          +b.soon-films
            +b.title Скоро на сайте
            +e.slider.slider
              -for(var i=0; i<2; i++)
                // BEGIN SOON-FILMS-ITEM 
                +e.item
                  +e.bg-wrap
                    +e.bg(style="background-image: url(images/soon/1.jpg)")
                  +e.inner
                    +e.A.preview(href="#")
                      img(src="images/soon/1.jpg", alt="")
                    +e.body
                      +e.top
                        +b.tag 2017г
                        +b.tag._blue FullHD
                      +e.title Дивергент
                      +e.genre Фантастика
                      +b.A.btn._primary(href="#") Подробнее
                // END SOON-FILMS-ITEM 
                // BEGIN SOON-FILMS-ITEM 
                +e.item
                  +e.bg-wrap
                    +e.bg(style="background-image: url(images/soon/2.jpg)")
                  +e.inner
                    +e.A.preview(href="#")
                      img(src="images/soon/2.jpg", alt="")
                    +e.body
                      +e.top
                        +b.tag 2017г
                        +b.tag._blue FullHD
                      +e.title Дивергент
                      +e.genre Фантастика
                      +b.A.btn._primary(href="#") Подробнее
                // END SOON-FILMS-ITEM 
          // END SOON-FILMS 
  // END BLOCK-GRAY 



