.footer
  font-size: 14px
  color: #656565
  padding: 40px 0

  &__title
    +geb
    text-transform: uppercase
    margin-bottom: 13px

  p
    line-height: 1.4
    +media-breakpoint-up(lg)
      max-width: 260px

  &__nav
    li+li
      +media-breakpoint-up(lg)
        margin: 15px 0

    li
      display: inline-block
      margin: 0 5px 5px
      +media-breakpoint-up(lg)
        display: block
        margin: 0

    li.is-active
      +geb

    a
      color: #656565
      text-transform: uppercase
      &:hover
        +cp
        +geb

  .logo
    color: #656565

  .copy
    line-height: 1.4

  &__menu
    text-align: center
    margin-bottom: 10px
    order: 0
    +media-breakpoint-up(lg)
      text-align: left
      order: 3
      margin-bottom: 0

  &__logo
    order: 1
    text-align: center
    +media-breakpoint-up(md)
      text-align: left
  &__text
    order: 2
    text-align: center
    margin-top: 15px
    +media-breakpoint-up(md)
      margin-top: 0
      text-align: left

  &__social
    margin-top: 20px
    text-align: center
    order: 4
    +media-breakpoint-up(lg)
      text-align: left