.film-tab
  margin-top: 35px
  margin-bottom: 45px

  .plyr
    border-radius: 3px


  &__navs
    font-size: 16px
    letter-spacing: .5px
    margin-bottom: 30px
    li
      display: inline-block
      position: relative
      margin-right: 15px
      &.is-active
        a
          color: #fff

    li+li
      padding-left: 15px
      &:after
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        background-color: #626164
        width: 1px

    a
      color: #626164

  &__tab-content
    display: none

    &.is-active
      display: block
